.modal-content {
    padding: 10px;
}

.modal-content table {
    margin: 0 auto;
}

.modal-content th {
    background-color: #5f9a40;
    border-color: #000;
}

.modal-content td {
    background-color: #fff;
    color: #000;
    border-color: #000;

}

.text-right {
    text-align: right;
}


.pagado {
    color: #00a135!important;
}

.pendiente {
    color: #e5be01!important;
}

.atrasado {
    color: #cc0605!important;
}

input[type="radio"]{
    visibility: hidden;
    width: 0;
    height: 0;
}

.content-right{
    display: flex;
    justify-content: right;
}


#btn-submit {
    cursor: pointer;
    background-color: #609E3F;
    padding: 10px 30px;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    border-style: none;
    margin-top: 10px;
}

.label {
    background-color: #fff;
    padding: 10px;
    cursor: pointer;
    border:solid 1px black;
    cursor: pointer;
}

input[type="radio"]:checked  + label {
    background-color:#609E3F;
    color: #fff;
}

.content-radios {
    display: flex;
    margin-bottom:10px ;
}

.content-radios label {
    width: 50%;
}

#respuestas-pagos {
    color: #fff;
    list-style: none;
}