@import url('./global.css');

section {
    display: flex;
    justify-content: center;
    padding: 20px;
}   

.content-customers { 
    width: auto;    
    border-style: none;
    box-shadow:0 0 15px 1px #102117;
    border-width: 1px;
    border-radius: 15px;
    background-color: #384524;
    padding: 30px;
}

.content-customers p {
    margin-bottom: 10px;
    background-color: green;
    border-radius: 10px;
}

.p-1 {
    padding: 10px;
}

.content-customers p span {
    padding: 20px;
}

.body-table {
    display: flex;
    justify-content: center;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    margin-bottom: 10px;
    text-align: center;
}

table {
    min-height: auto;
    height: auto;
    border:1px solid #b3adad;
    border-collapse:collapse;
    padding:5px;
    border-radius: 100px;
    color: #fff;
}

table th {
    border-style: solid;
    border-color: #5c6b91;
    border-width: 1px;
    padding:5px;
    background-color: #102117;
}

.tmp {
    width: 100px;
}

table td {
    border-style: solid;
    border-color: #5c6b91;
    border-width: 1px;
    padding:10px;
    background-color: #2b3244;
}

table button {
    width: 100%;
    height: auto;
    padding: 5px;   
}

td span {
    display: block;
    text-align: center;
}

.content-tittle {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.367); 
    max-width: 800px;
    border-style: none;
    box-shadow:0 0 15px 1px #102117;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
}

